 @import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');
 h1 {
     font-size: 1.75rem;
     font-family: 'Teko', sans-serif;
 }
 
 section.playlist .track {
     font-family: 'Teko', sans-serif
 }
 
 section.playlist ol {
     list-style-type: none;
 }
 
 section.playlist .track {
     font-family: 'David Libre', serif;
     padding: 5px 0;
 }
 
 section.playlist .track a {
     text-decoration: none;
 }
 
 section.playlist .track a:hover {
     text-decoration: underline dotted;
 }
 
 section.playlist .track a {
     color: #333
 }
 
 section.playlist .track .title {
     font-size: 1.25rem;
 }
 
 section.playlist .track .artists {
     margin-left: 10px;
     font-size: 1rem;
 }
 
 .playlist-tiles {
     display: grid;
     grid-gap: 15px;
     grid-template-columns: repeat(auto-fit, 200px);
 }
 
 .playlist-tile {
     background-size: 200px;
     width: 200px;
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
 }
 
 .playlist-tile h2 {
     font-size: .75rem;
 }
 
 .playlist-tile img {
     width: 200px;
     height: 200px;
 }