 @import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');
 nav#topbar {
     background-color: #333;
     color: #ddd;
     font-family: 'David Libre', serif;
     margin-bottom: 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 1.25rem;
 }
 
 nav#topbar form#search {
     margin: 10px;
 }
 
 nav#topbar h1 {
     margin: 10px;
 }
 
 nav#topbar a {
     text-decoration: none;
     color: inherit;
 }
 
 section.playlist img.playlist-image {
     width: 200px;
     height: 200px;
 }
 
 section.playlist ol {
     list-style-type: none;
 }
 
 section.playlist .track {
     font-family: 'David Libre', serif;
     padding: 5px 0;
 }
 
 section.playlist .track a {
     text-decoration: none;
 }
 
 section.playlist .track a:hover {
     text-decoration: underline dotted;
 }
 
 section.playlist .track a {
     color: #333
 }
 
 section.playlist .track .title {
     font-size: 1.25rem;
 }
 
 section.playlist .track .artists {
     margin-left: 10px;
     font-size: 1rem;
 }
 
 .playlist-tiles {
     display: grid;
     grid-gap: 15px;
     grid-template-columns: repeat(auto-fit, 200px);
 }
 
 .playlist-tile {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
 }
 
 .playlist-tile h2 {
     font-size: .75rem;
 }
 
 .playlist-tile img {
     width: 200px;
     height: 200px;
 }
 
 .search-result {
     display: grid;
     grid-template-columns: 300px auto;
 }
 
 .search-result .track-info h3 {}
 
 .search-results .playlist-tiles {
     margin-left: 50px;
     grid-column-start: 2;
     grid-template-columns: repeat(auto-fit, 100px);
 }
 
 .search-results .playlist-tile img {
     width: 100px;
     height: 100px;
 }
 
 .search-results h2.track-info {
     font-family: 'David Libre', serif;
 }