 @import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');
 body {
     font-family: 'David Libre', serif;
 }
 
 nav#topbar {
     background-color: #333;
     color: #ddd;
     font-family: 'David Libre', serif;
     margin-bottom: 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 1.25rem;
 }
 
 nav#topbar form#search {
     margin: 10px;
 }
 
 nav#topbar h1 {
     margin: 10px;
 }
 
 nav#topbar a {
     text-decoration: none;
     color: inherit;
 }
 
 section.playlist img.playlist-image {
     width: 200px;
     height: 200px;
 }
 
 section.playlist ol {
     list-style-type: none;
 }
 
 section.playlist .track {
     font-family: 'David Libre', serif;
     padding: 5px 0;
 }
 
 section.playlist .track a {
     text-decoration: none;
 }
 
 section.playlist .track a:hover {
     text-decoration: underline dotted;
 }
 
 section.playlist .track a {
     color: #333
 }
 
 section.playlist .track .title {
     font-size: 1.25rem;
 }
 
 section.playlist .track .artists {
     margin-left: 10px;
     font-size: 1rem;
 }
 
 table.tracks-table a.spotify-link,
 table.tracks-table a.preview-track {
     color: inherit;
 }
 
 .playlist-tiles {
     display: grid;
     grid-gap: 15px;
     grid-template-columns: repeat(auto-fit, 200px);
 }
 
 .playlist-tile {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
 }
 
 .playlist-tile h2 {
     font-size: .75rem;
 }
 
 .playlist-tile img {
     width: 200px;
     height: 200px;
 }
 
 .search-result {
     display: grid;
     grid-template-columns: 200px 200px auto;
     margin: 6px 0;
     padding: 6px 0;
 }
 
 .search-result:nth-of-type(odd) {
     background: #e0e0e0;
 }
 
 .search-results .playlist-tiles {
     margin-left: 50px;
     grid-column-start: 3;
     grid-template-columns: repeat(auto-fit, 100px);
 }
 
 .search-results .playlist-tile img {
     width: 100px;
     height: 100px;
 }
 
 .search-results .track-info {
     grid-column-start: 2;
 }
 
 .search-results .track-info h3,
 .search-results .track-info h4 {
     margin: 2px;
 }
 
 .search-results .track-img {
     grid-column-start: 1;
     /* align-self - column */
     align-self: top;
     /* justify-self - row */
     justify-self: center;
 }
 
 .search-terms {
     margin-left: 50px;
     font-size: larger;
 }
 
 #artist #artist-details img {
     width: 300px;
 }
 
 #artist #artist-albums h3 {
     grid-column: 1 / -1;
 }
 
 #artist #artist-albums {
     display: grid;
     grid-gap: 15px;
     grid-template-columns: repeat(auto-fit, 200px);
 }
 
 #artist #artist-albums img {
     width: 150px;
 }