{% extends "_base.html" %} {% block title %}Genre: {{ genre_name }}{% endblock title %} {% block extra_head %} {% include "_sortable_extra_head.html" %} {% endblock extra_head %} {% block content %}
<section id='artist'>
    <section id='artist-details'>
        <h2>{{ artist.name }}</h2>  
        {% with image=artist.image_url(640) %}
        {% if image %}<img src="{{ image }}" alt="Image of {{ artist.name }}" />{% endif %}
        {% endwith %}
        <p><strong>Popularity:</strong> {{ artist.popularity }}</p>
        <p><strong>Followers:</strong> {{ "{:,}".format(artist.followers) }}</p>
        <p><strong>Genres:</strong>
        {% for g in artist.genres  %}
        <li><a href="{{ url_for('genre',genre_name=g) }}">{{ g }}</a></li>
        {% endfor %}
        </ul>
        
    </section>
    <section id='artist-tracks'>
    <h3>Tracks played</h3>
    {% with tracks=artist.tracks %}
    {% include "_tracks_table.html" %}
    {% endwith %}
    </section>
    <section id='artist-albums'>
    <h3>Albums played from</h3>
    {% for album in artist.albums %}
    <div id='album-{{album.spotify_id}}' class='artist-album'>
        {% with image=album.image_url(640) %}
        {% if image %}<a title="Spotify Album Page" href="{{ album.spotify_url }}"><img src="{{ image }}" alt="Image for {{ album.name }}" /></a>{% endif %}
        {% endwith %}
        <p><a title="Spotify Album Page" href="{{ album.spotify_url }}">{{ album.name }}</a></p>
    </div>
    
    {% endfor %}
    </section>
    
</section>
{% endblock content %}
