{% extends "_base.html" %}

{% block title %}Playlist for {{ playlist.date }}{% endblock title %}

{% block extra_head %}
{% include "_sortable_extra_head.html" %}
{% endblock extra_head %}

{% block content %}
    <section class="playlist">
        <h1>Conference of the Birds — {{ playlist.date }}</h1>
        <img class='playlist-image' src="{{ playlist.image_url }}">
        {% if playlist.description %}
        <p>{{ playlist.description|safe }}</p>
        {% else %}
        {% endif %}
        <p><a href="{{playlist.spotify_url}}">listen on spotify</a></p>
        {% with tracks=playlist.tracks %}
        {% include "_tracks_table.html" %}
        {% endwith %}
    </section>
{% endblock content %}
